* {
    margin: 0;
    padding: 0;
}

:root{
    --var-light:#EAEAEA;
    --var-primary:#485FB0;

}


  body{
    background: rgb(72,95,176);
    background: radial-gradient(circle, rgba(72,95,176,1) 33%, rgba(38,64,89,1) 90%);
    height: 100vh;
    
}

.font-counter{
    font-size: 12rem;
}

.btn-mas{
    height: 8rem;
}

.btn-menos{
    height: 6rem;
}

ion-icon {
    font-size: 48px;
    font-weight: bold;
}

.container{
    height: 100vh;
    overflow: hidden;
}

.mb-btn{
    margin-bottom: 6rem;
}

button {
    touch-action: manipulation;
}

.btn{
    border: none !important;
}

.btn:hover {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }